<%= flash_message %>
<center> <b> <font style="font-size:30pt; color:LimeGreen; line-height:30pt; type=ArialBlack"> Dados Conta:  </font></b></center>  <br><br><br>
<fieldset style = "background-color:#C1FFC1;"><legend>Informações Conta</legend>
 <p><b>Número Agência: </b><%= @conta.numero_agencia %></p>
 <p><b>Número Conta: </b><%= @conta.numero_conta %></p>

</fieldset><br><br>

  


