<center><fieldset style = "background-color:#C1FFC1; position:relative; height:100%;  width:550px; float: center; "><legend><b>Informações de Documentações</b></legend>
  <p>  
  <b><label>Descrição:</label></b> <%= f.text_field :descricao %>
  </p> 
  <p>  
  <label>Documentos: </label> <%= f.file_field :avatar %>
  </p>
</fieldset><br></center>
